<%- include('includes/boilerplate.ejs') %> <%- include('includes/memberSidebar.ejs', {page: "MyTranscations"}) %>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <%- include('includes/navbar.ejs') %>

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <div class="align-items-center d-flex col-6">
                <h6 class="mb-0">Transcation List</h6>
              </div>
              <div class="col-6 text-end">
                <button type="button" class="btn btn-sm btn-block btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#find-modal">Filter Transcation</button>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-0">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-left opacity-7">TID & Book Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-left opacity-7 ps-2 ">Status</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-left opacity-7 ps-2">Issue & Due Dates</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-left opacity-7 ps-2">Tyep & Return Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let transcation of transcations) { %>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"> <%= transcation.transcationId %> </h6>
                          <p class="text-xs text-secondary mb-0"> <%= transcation.bookName %> </p>
                        </div>
                    </td>
                    <td class="text-left">
                      <% if (transcation.returnDate) { %> <% if (transcation.returnDate > transcation.dueDate) { %>
                        <span class="badge bg-gradient-info">Returned</span>
                        <% } else { %>
                        <span class="badge bg-gradient-success">Returned</span>
                        <% } %> <% } else { %> <% if (new Date() > transcation.dueDate) { %>
                        <span class="badge bg-gradient-danger">Overdue</span>
                        <% } else { %>
                        <span class="badge bg-gradient-warning">Due Soon</span>
                        <% } %> <% } %>
                    </td>
                    <td class="text-left">
                      <p class="text-xs font-weight-bold mb-0"><%= transcation.transactionDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
                      <p class="text-xs text-secondary mb-0"> <%= transcation.dueDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %> </p>
                    </td>
                    <td class="text-left">
                      <p class="text-xs font-weight-bold mb-0"><%= transcation.transactionType %></p>
                      <span class="text-secondary text-xs font-weight-bold">
                        <% if (transcation.returnDate) { %>
                          <%= transcation.returnDate?.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                        <% } else { %>
                        <% } %>
                      </span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="btn-group align-middle text-center dropstart">
                        <button class="btn btn-link text-secondary mb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmModal" data-transaction-id="<%= transcation._id %>" type="button">Delete</button>
                          </li>
                          <li>
                            <button class="dropdown-item editButton" type="button" data-transcation-id="<%= transcation.transcationId %>">Edit</button>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer_member.ejs') %>
  </div>

  <div class="modal fade" id="find-modal" tabindex="-1" role="dialog" aria-labelledby="new-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder text-info text-gradient">Filter Transcation</h3>
            </div>
            <div class="card-body">
              <form action="/dashboard/my-transcations" method="get" role="form" novalidate>
                <div class="row mb-3">
                  <div class="col form-group">
                    <label for="transcationId">Filter By Transcation ID</label>
                    <input
                      type="text"
                      name="transcationId"
                      placeholder="Enter Transcation ID"
                      class="form-control"
                      value="<%= filters.transcationId || '' %>"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col form-group">
                    <label for="transactionType">Filter By Type</label>
                    <select name="transactionType" class="form-select">
                      <option value="">None</option>
                      <option value="Borrow" <% if(filters.transactionType == "Borrow") {%> selected <% } %> >Borrow</option>
                      <option value="Return" <% if(filters.transactionType == "Return") {%> selected <% } %>>Return</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col form-group">
                    <label for="bookName">Filter By Book</label>
                    <select name="bookName" class="form-select" id="bookName">
                      <option value="" selected>None</option>
                      <% for (const bookTitle of booksTitle) { %>
                        <option value="<%= bookTitle %>" <%= filters.bookName === bookTitle ? 'selected' : ''  %>><%= bookTitle %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-sm bg-gradient-info" onclick="validateForm(event)">Filter Transcation</button>
                  <a class="btn btn-sm bg-gradient-danger" href="/dashboard/my-transcations">Clear Filter</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('includes/fixedpulgin.ejs') %> <%- include('includes/corejsfiles.ejs') %>
